*{
    margin : 0px;
    padding:0px;
}
body{
    background-image: url(images/dashback.jpg);
    background-size:cover;
    font-family: cambria;
}
.logo{
    background-color:rgba(0, 0, 0, 0.3);
}
.logo a{
    float:right;
    margin: 2px;
    margin-top :50px;
}
.logo_img{
    margin:10px 10px;
}
.logo_img2{
    margin-bottom:30px;
}
.navigation{
    background-color: rgb(172, 0, 0);
    color:white;
    font-size: 25px;
}
.navigation ul{
    list-style-type: none;
    display:inline-flex;
}
.navigation ul li{
    padding: 10px 20px;
}
.navigation ul li i{
    margin:0px 8px;
}
.navigation ul li a{
    text-decoration: none;
    color:white;
}
.navigation ul li:hover , .act{
    background-color: rgb(255, 62, 62);
}
.navigation input{
    float:right;
    font-size:18px;
    border:none;
    padding: 10px 20px;
    margin:4px 8px;
    border-radius: 8px;
    color:rgb(172, 0, 0);
    font-weight: bold;
}
.navigation input:hover{
    background-color: red;
    color:white;
    border:1px solid white;
}
.sub_nav{
    display: none;
}
.navigation ul li:hover .sub_nav{
    background-color:rgb(172, 0, 0) ;
    display:block;
    position: absolute;
    height: auto;
    margin:10px;
    padding:10px;
}
.navigation ul li:hover .sub_nav ul{
    display: block;
}
.navigation ul li:hover .sub_nav ul li{
    font-size: 22px;
    padding:5px;
    margin:10px;
    border-bottom:1px solid white;
}
/*
    Now fro here all the work will start
*/
textarea{
    outline:none;
    font-size:20px;
    font-family: sans-serif;;
    height:30px;
    padding:2px;
    padding-left: 10px;
}

.add_qns{
    margin-left: 50px;
    margin-top: 50px;;
    font-size:30px;
    margin-bottom:100px;
}
.add_qns table th{
    text-align: left;
    font-size:18px;
}

.add_qns select{
    width:150px;
    height:30px;
    outline:none;
}
.add_qns input{
    margin-top:50px;
    font-size: 20px;;
    padding:5px 25px;
    width:240px;
    height:40px;
    border:2px solid rgb(172, 0, 0);
    border-radius: 8px;
    color:rgb(172, 0, 0);
    font-weight: bold;  
}
.add_qns input:hover{
    cursor: pointer;
    color:white;
    border:none;
    background-color: #ac0000;
}
.add_qns input[type = "text"]{
    background-color:white;
    outline:none;
    border:1px solid rgb(172, 0, 0);
    color:black;
    margin:2px;
    width:720px;
}